.account {
  margin-top: 80px;
  text-align: left;
  vertical-align: none;
  flex: 1 0 auto;

  &__registr {
    background: $white;
    width: 98%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14);
    @media (max-width: $desktop) {
      margin-top: -60px;
    }
  }

  &__client {
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  &__name {
    font: 300 20px/23px $roboto;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 15px;
  }

  &__city {
    font: normal 14px/23px $roboto;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.25px;
    padding-top: 20px;
  }

  &__info {
    font: normal 14px/20px $roboto;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__link {
    display: flex;
    font: 500 14px/16px $roboto;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    justify-content: space-between;
    margin: 25px 0px;

    a {
      color: $green;
      text-decoration: none;
      margin-right: 10px;
    }
  }

  &__link-right {
    margin-top: 20px;
  }

  &__client-img {
    width: 100%;
  }

  &__bottom {
    margin-top: 45px;
    display: flex;
  }

  &__animals {
    display: flex;
    background: $white;
    display: flex;
    height: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14);
    @media (max-width: $desktop) {
      margin-top: 15px;
    }
  }

  &__animals-bottom {
    margin-top: -190px;
    @media (max-width: $desktop) {
      margin-top: 15px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
        0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    }
  }

  &__name {
    font: normal 24px/28px $roboto;
    color: rgba(0, 0, 0, 0.87);
  }

  &__breed {
    font: normal 14px/20px $roboto;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    width: 130px;
  }

  &__anim {
    margin-top: 100px;
    align-items: flex-end;
    justify-content: flex-start;
    @media (max-width: $desktop) {
      margin: 5px;
      padding: 10px;
    }
  }

  &__rey {
    width: 100%;
  }

  &__dog {
    margin-left: 147px;
    @media (max-width: $desktop) {
      display: none;
    }
  }

  &__mobile {
    @media (max-width: $desktop) {
      margin: 20px 15px 15px 40px;
    }
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &__mobile__cat {
    @media (max-width: $desktop) {
      margin: 20px 15px 15px 40px;
    }
  }

  &__plus {
    font: normal 18px/28px $roboto;

    a {
      text-decoration: none;
      color: $green;
      @media (min-width: $desktop) {
        margin-left: 42%;
        padding: 50px 0px;
      }

      @media (max-width: $desktop) {
        margin-left: 30px;
        margin-top: 50px;
      }
    }
  }
  &__cat {
    width: 100%;
  }
  .cat {
    @media (min-width: $desktop) {
      margin-left: 6px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 20px;
    @media (max-width: $desktop) {
      display: none;
    }
  }
  &__bottom-mobile {
    display: flex;
    @media (min-width: $desktop) {
      display: none;
    }
  }
  &__text {
    font: normal 16px/24px $roboto;
    letter-spacing: 0.15px;
    display: inline-block;
  }

  &__plus-link {
    margin: 50px 0px;
    @media (max-width: $desktop) {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }

  &__link-bottom {
    font: normal 12px/16px $roboto;
    letter-spacing: 0.4px;
    color: $green;
    margin-left: 160px;

    &:hover {
      text-decoration: none;
      color: $green;
    }
  }

  &__buttom {
    @media (min-width: $desktop) {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    font: 500 14px/16px $roboto;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $green;
    margin: 45px 0 15px 0;
    position: relative;
    text-decoration: none;
    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: rgba(0, 0, 0, 0.12);
      position: absolute;
      top: -15px;
    }
    a:hover,
    a:active {
      text-decoration: none;
      color: $green;
    }
    a {
      color: $green;
    }
  }
}
