.gallery {
  margin-top: 3px;
  margin-bottom: 3px;

  &__header {
    background: none;
    height: auto;
  }
  &__hidden {
    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.photo {
  img {
    height: 100%;
    width: 100%;
  }
}
