.header{
    .navigation{
       background: #018786;  
       display: flex;
       text-decoration: none; 
       @media (max-width: $desktop) {
        padding: 16px 5%;
        justify-content: space-between;
        font-size:20px;
      
       } 
       &__left {
           display: flex;
           justify-content: space-between;
       }
       &__right {
        display: flex;
        justify-content: flex-end;
    }

       &__title{
        @media (max-width: $desktop) {
          font: 300 20px/23px $roboto;
          color: #fff;
          letter-spacing: 0.15px;
        }
        @media (min-width: $desktop) {
          font: normal 48px/56px $roboto;
          color: #fff;
          letter-spacing: 0.15px;
          mix-blend-mode: normal;
        }
        }
    &__burger-menu {
        @mixin line($top: 0) {
          @include size(100%, 2px);
          background: #DADADA;
          position: absolute;
        }
        @include size(18px, 12px);
        display: block;
        position: relative;
    
        @media (min-width: $desktop) {
            display: none;
        }
        &::before {
            @include line();
            content: '';     
        }
        &::after {
            @include line(calc(100% - 3px));
            content: ''; 
        }          
    } 
    .menu{
        @media (max-width: $desktop) {
            display: none;
        }  
        @media (min-width: $desktop) {
             display: flex;
        }     
        &__link { 
        font: 300 20px/23px $roboto;
        color: #fff;
        letter-spacing: 0.15px;
        text-decoration: none;
        }        
    }
    }
    &__down{
        @media (max-width: $desktop){
        background: url('../images/header_dog__mobile.jpg') no-repeat top;
        background-size: cover;   
    }
    @media (min-width: $desktop){
        background: url('../images/header_dog.jpg') no-repeat top center;
        background-size: cover;   
    }
    }
      .form{
        //    display: flex;
        &__control{
            display: flex;
            width: 90%;
            margin: 25px auto;
            @media (max-width: $desktop) {
                padding: 510px 0 40px; 
                justify-content: center;
            }
            @media (min-width: $desktop) {
                display: none;
        }
        }
        &__input{
            font: normal 14px/20px $roboto;
            letter-spacing: 0.25px;
            width: 90%; 
            padding: 10px 15px;
        }
        &__wrap{
            @media (max-width: $desktop){
            background: linear-gradient(90deg, rgba(0, 61, 77, 0.4) 0%, rgba(0, 201, 150, 0.4) 100%);
            margin-top: 25px;
        }
        }
        &__title{
            @media (max-width: $desktop) {
              font: normal 34px/40px $roboto;
              color: #fff;
              letter-spacing: 0.25px;
              padding: 4% 20px;            
            }
            @media (min-width: $desktop) {
              font: 300 60px/70px $roboto;
              color: #fff;
              letter-spacing: -0.5px;
              text-align: center;
              align-items: center;
            }
          }
    }
}