.header{
    .navigation{
       background: #018786;  
       &__burger-menu {
        @mixin line($top: 0) {
            @include size(100%, 5px);
            background: #DADADA;
            border-radius: 3px;
            position: absolute;
            top: $top;
            transition: all .3s;
        }
    
        @include size(50px, 40px);
        display: block;
        position: relative;
    
        @media (min-width: $desktop) {
            display: none;
        }
    
        &::before {
            @include line();
            content: '';
            transform-origin: 0 0;
        }
        
            &::after {
            @include line(calc(100% - 5px));
            content: '';
            transform-origin: 0 100%;
        }
            span {
            @include line(50%);
            display: block;
            transform: translateY(-50%);
        }
    }

    }
    .form{
        background: ur('../images/header-dog.png');
        
    }
  

}