.header {
  height: 100vh;
  a:hover,
  a:active {
    text-decoration: none;
  }
  @media (max-width: $desktop) {
    background: url("../images/header_dog__mobile.jpg") no-repeat top;
    background-size: cover;
  }
  @media (min-width: $desktop) {
    background: url("../images/header_dog.jpg") no-repeat right;
    background-size: cover;
  }
  .navigation {
    background: $green;
    display: flex;
    @media (max-width: $desktop) {
      padding: 16px 5%;
      font-size: 20px;
    }
    @media (min-width: $desktop) {
      font-size: 40px;
    }
    &__wrap {
      display: flex;
      a.logo {
        color: $white;
      }
    }
    &__block {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      @media (max-width: $desktop) {
        font: 300 20px/23px $roboto;
        color: $white;
        letter-spacing: 0.15px;
        margin: 0 0 0 12px;
        display: inline-block;
      }
      @media (min-width: $desktop) {
        font: normal 48px/56px $roboto;
        color: $white;
        letter-spacing: 0.15px;
        mix-blend-mode: normal;
        display: inline-block;
        margin: 10px 10px 10px 0;
      }
    }
    &__burger-menu {
      background: transparent;
      border-color: transparent;
      padding: 0px;
      &::after {
        content: "";
        display: none;
      }
      &:focus {
        background: transparent;
        border-color: transparent;
      }
      @media (min-width: $desktop) {
        display: none;
      }
    }
    &__burger-menu--item {
      background: #fafafa;
      border-radius: 0px;
      padding: 10px 0px;
      position: absolute;
      top: -30px !important; 
      left: -20px !important;
    }
    .burger-item {
      color: rgba(0, 0, 0, 0.87);
      padding-top: 5px;
      padding-bottom: 5px;
      mix-blend-mode: normal;
      font: normal 14px/20px $roboto;
      letter-spacing: 0.25px;
    }
    .registration {
      display: flex;
      .menu {
        display: flex;
        align-items: center;
        @media (max-width: $desktop) {
          display: none;
        }
        &__link {
          font: 300 20px/23px $roboto;
          color: $white;
          letter-spacing: 0.15px;
          text-decoration: none;
          margin-right: 25px;
          position: relative;
          bottom: 5px;

          &::before {
            content: "";
            height: 2px;
            position: absolute;
            bottom: -28px;
            transition: all 0.3s;
            width: calc(100% + 2px);
            background: transparent;
          }
          &:hover {
            &::before {
                bottom: -7px;
                background: $white;
            }
        }  
        }
      }
      .menu-registr {
        display: flex;
        align-items: center;
      }
    }
  }
  .form {
    &__control {
      display: flex;
      width: 90%;
      margin: 25px auto;
      @media (max-width: $desktop) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__input {
      font: normal 14px/20px $roboto;
      letter-spacing: 0.25px;
      width: 90%;
      padding: 10px 15px;
    }

    &__wrap {
      @media (max-width: $desktop) {
        background: linear-gradient(
          90deg,
          rgba(0, 61, 77, 0.4) 0%,
          rgba(0, 201, 150, 0.4) 100%
        );
        margin-top: 25px;
      }
    }

    &__title {
      @media (max-width: $desktop) {
        font: normal 34px/40px $roboto;
        color: $white;
        letter-spacing: 0.25px;
        padding: 4% 20px;
      }
      @media (min-width: $desktop) {
        font: 300 60px/70px $roboto;
        color: $white;
        letter-spacing: -0.5px;
        text-align: center;
        align-items: center;
        margin-top: 45px;
      }
    }

    .left{
      @media (max-width: $desktop) {
        display: none;
      }
    }

    .right{
      @media (max-width: $desktop) {
        background: none;
        font-size: 0;
        margin-top: 300px;
      }
    }

    &__info {
      font: normal 14px/20px $roboto;
      letter-spacing: 0.25px;
      color: $white;
      background: $green;
      padding: 45px 35px;
      margin-top: 10%;
      // margin-bottom: 40px;
      justify-content: center;
      // margin-top: 160px;
    }

    // &__social{
    //   padding-top: 160px;
    // }

    &__social{
      &-wrap{
        justify-content: flex-end;
        // margin-top: 40px;
      }
    }

    &__social-icon {
      display: flex;
      justify-content: space-between;

      li {
        margin-left: 20%;
      }

      @media (max-width: $desktop) {
        display: none;
      }
    }
  }
  
}
