.living {
  @media (min-width: $desktop) {
    margin-bottom: 75px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 20px;
    @media (min-width: $desktop) {
      margin-bottom: 80px;
    }
  }
  &__info {
    margin-bottom: 20px;
  }
  &__dog {
    @media (max-width: $desktop) {
      display: none;
    }
  }
  &__image {
    width: 100%;
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $green;
    font: 500 14px/16px $roboto;
    letter-spacing: 0.75px;
    text-align: center;
    display: block;
    margin: 0 auto 40px;

    @media (min-width: calc(#{$desktop} - 30px)) {
      display: none;
    }
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
}
