/* styles goes here */
.header__page {
  background: none;
  height: 100px;
}

.forms {
  margin: 180px auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;

  @media (max-width: $desktop) {
    margin: 0 auto;
  }

  &__wrap {
    flex: 1 0 auto;
  }

  &__button {
    margin: 30px auto 10px;
    width: 96px;
    height: 36px;
  }

  &__button-registr {
    width: 180px;
    height: 36px;
    margin: 55px auto;
  }

  .tab-group .active a {
    background: none;
    border-bottom: 3px solid $green;
  }

  &__password {
    margin-top: 25px;
    text-align: center;
  }

  &__passw {
    text-decoration: none;
    font: normal 12px/14px $roboto;
    text-align: center;
    color: #02beb2;
    &:hover {
      text-decoration: none;
      color: #02beb2;
    }
  }

  &__registr {
    text-transform: uppercase;
    font: 500 14px/16px $roboto;
    letter-spacing: 0.75px;
    color: #018786;
    padding-top: 20px;
    text-align: center;
    a {
      color: #018786;
    }
  }

  .forms .tab-group .tab {
    width: 125px;
    text-align: center;
  }

  .forms .tab-group .active a {
    border-bottom: top 10px 3px solid $green;
    color: #004b4f;
  }
}

.forms .tab-group li a {
  text-decoration: none;
  padding: 10px 5px;
  font: normal 14px/20px $roboto;
  letter-spacing: 0.25px;
  color: #018786;
  float: left;
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
}

.forms .tab-group li .enter {
  width: 125px;
}

.forms .tab-group li a:active,
.forms .tab-group li a:hover {
  border-bottom: top 10px 3px solid $green;
  color: #004b4f;
}

.forms h1 {
  padding: 0 0 20px 0;
  font-size: 26px;
  color: #666;
  font-weight: lighter;
  text-align: center;
}

.forms form {
  padding: 30px;
}

#signup {
  display: none;
}

.forms .tab-group {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.forms .input-field {
  position: relative;
}

.show-pass {
  display: none;
}

.forms .input-field-login .show-pass {
  display: block;
  @include pos($r: 10px, $t: 90px);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}
.forms input {
  font: normal 16px/24px $roboto;
  display: block;
  width: 100%;
  padding: 18px 15px 14px 16px;
  border: 2px solid #018786;
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.forms {
  .error-val {
    border: 2px solid #c20606;
  }
}

.account {
  font: 300 12px/14px $roboto;
  color: rgba(0, 0, 0, 0.6);
  &__enter {
    color: $form;
  }
  .account__t {
    text-align: center;
  }
}

.registr {
  text-align: center;
  padding-top: 20px;
  .registrac {
    font: 500 14px/16px $roboto;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $green;
    text-decoration: none;
  }
}
.registr__hidden {
  display: none !important;
}

.services__icon {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.registration__text {
  text-align: center;
  font: bold 15px/18px $roboto;
}
.registration__icons {
  display: none;
}
