.services{
    &__lapu{
        background: url('../images/lapu.png')no-repeat center;
        background-size: cover;
    }
    &__button{
        background: $green;
        border-radius: 200px;
        
    }





}