.header{
  .navigation{
  &__title{
  @media (max-width: $desktop) {
    font: 300 20px/23px $roboto;
    color: #fff;
    letter-spacing: 0.15px;
  }
  @media (min-width: $desktop) {
    font: normal 48px/56px $roboto;
    color: #fff;
    letter-spacing: 0.15px;
    mix-blend-mode: normal;
  }
  
   .menu__link { 
    font: 300 20px/23px $roboto;
    color: #fff;
    letter-spacing: 0.15px;
    text-decoration: none;
  }

  
}

}
.form{
  &__title{
    @media (max-width: $desktop) {
      font: normal 34px/40px $roboto;
      color: #fff;
      letter-spacing: 0.25px;
      padding: 4% 20px;
      margin-left: 4%;
    }

    @media (min-width: $desktop) {
      font: 300 60px/70px $roboto;
      color: #fff;
      letter-spacing: -0.5px;
      text-align: center;
      align-items: center;
    }
  }
}

}

.main {
  &-title {
    font: 300 20px/23px $roboto;
    color: $title;
    letter-spacing: 0.15px;
    @media (min-width: $desktop) {
      font: 300 96px/112px $roboto;
      letter-spacing: -1.5px;
    }
  }
  &-subtitle {
    font: normal 18px/28px $roboto;
    color: $title;
    letter-spacing: 0.5px;
  }
  &-info {
    font: normal 14px/20px $roboto;
    letter-spacing: 0.25px;
  }
}

